/* footer */
.wrapper4{
    height: 50px;
    background-color: #709DCA;
}
.footer > p {
    margin: 0 auto;
    text-align: center;
    padding-top: 15px; 
    color: #394B50;
}
.footer > p > a {
    text-decoration: none;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Open Sans', sans-serif;
}
.wrapper{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 1170px;
}
.content {
    margin: 0 auto;
    width: 1170px;
    padding: 0;
}


/*Header*/
.header{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}
#logo{
    display: inline-block;
    margin: 9px 0px 10px 00px;
}
.tagline{
    border-top: 1px solid #C99500;
    text-align: center;
    background-color: #FBB900;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 40px;
    width: 120px; 
}
.tagline_p {
    display: block;
    margin: 0;
    padding-top: 5px;
    color: #002550;
    font-size: 9px;
}
.tagline_p:last-child{
    padding-top: 2px;
    padding-bottom: 20px;
}
.tagline_p1 > span{
    padding: 0px 4px;
    color: white;
    background-color: #002550;
}
.tagline_p2 > span{
    padding: 0px 4px;
    color: #002550;
    background-color: white;
}
nav::after{
    content: '';
    position: absolute;
    right: -15px;
    top: -84px;
    border: 115px solid transparent;
    border-bottom: 19px solid white;
}
nav{
    position: relative;
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.header > nav > ul{
    margin: 50px 10px 0px 0px;
    font-size: 13px;
    display: inline-block;
    list-style-type: none;
}
.header > nav > ul > li{
    display: inline-block;
}
.header > nav > ul > li > #main {
    color: white;
    border-radius: 3px;
    padding: 8px 11px;
    background-color: #FFBB42;
    
}
.header > nav > ul > li > a{
    text-decoration: none;
    color: #868686;
    padding: 5px 30px 27px 30px;
}
.header > nav > ul > li > a:hover{
    color: #FFBB42;
    
}

/* info */
.info{
    margin: 0 auto;
    width: 970px;
    text-align: justify;
}
.info > h1{
    font-weight: 400;
    font-family: 'Lato', 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}
.info > p {
    font-size: 20px;
    font-weight: 300;
}
.info > #photo {
    margin: 15px 200px;
}
.info > #photo > p {
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}
.info > p > a {
    font-weight: bold;
    color: #002550;
    font-size: 20px;
}
