<section class="calendar-header pt-3 pb-3">
    <div class="container">
        <h1 class="text-center mb-5 display-4">Weekly Calendar</h1>
        <div class="row align-items-center">
            <div class="col-12 col-md-4 text-center text-md-left">
                <h2 class="mb-md-0">Today: <span class="day text-primary"></span></h2>
            </div>
            <div class="col-12 col-md-4">
                <p class="current-time-text text-center mb-md-0 ">Time: <span class="current-time text-primary">13:00</span></p>
            </div>
            <div class="col-12 col-md-4">
                <fieldset class="d-flex justify-content-md-end justify-content-center align-items-center p-0">
                    <div class="form-group mb-0 mr-3">
                        <select class="custom-select participants-select filter-participants-select">
                        </select>
                    </div>
                    <a href="./create-event.html"  class="btn btn-primary text-nowrap">New event +</a>
                </fieldset>
            </div>
        </div>
    </div>
 </section>