a[href="http://ya.ru"]{
    color: #f70;
}
a[href="https://mail.ya.ru"]{
    color: #f70;
}
a[href="http://maps.yandex.ru"]{
    
    color: #f70;
}
a[target="_blank"]::after{  
    position:absolute;
    transform: rotate(90deg);
    content: "⇱";
    
}
a[href="http://google.com"]{
    color: #666;
}
a[href="http://maps.google.com"]{
    color: #666;
}
a[href="http://news.google.com"]{
    color: #666;
}
