/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=|Montserrat:100,100i,200,200i,300,300i,400,500,600,700,800');

@font-face {
    font-family: "Drina"; /* Гарнитура шрифта */
	src: url("../fonts/Drina/drina.otf"); /* Путь к файлу со шрифтом */
	font-style: italic;
	font-weight: normal;
}
@font-face {
    font-family: "Lemon Tuesday"; /* Гарнитура шрифта */
	src: url("../fonts/LemonTuesday/lemon.otf"); /* Путь к файлу со шрифтом */
	font-style: italic;
	font-weight: normal;
}
/*    
@font-face {
	font-family: "AeroMaticsBold";
	src: url("../fonts/AeroMaticsBold/AeroMaticsBold.eot");
	src: url("../fonts/AeroMaticsBold/AeroMaticsBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AeroMaticsBold/AeroMaticsBold.woff") format("woff"),
	url("../fonts/AeroMaticsBold/AeroMaticsBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "AeroMaticsBoldItalic";
	src: url("../fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.eot");
	src: url("../fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.woff") format("woff"),
	url("../fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "AeroMaticsItalic";
	src: url("../fonts/AeroMaticsItalic/AeroMaticsItalic.eot");
	src: url("../fonts/AeroMaticsItalic/AeroMaticsItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AeroMaticsItalic/AeroMaticsItalic.woff") format("woff"),
	url("../fonts/AeroMaticsItalic/AeroMaticsItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
} */
/* @font-face {
	font-family: "ACLineRegular";
	src: url("../fonts/ACLineRegular/ACLineRegular.eot");
	src: url("../fonts/ACLineRegular/ACLineRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ACLineRegular/ACLineRegular.woff") format("woff"),
	url("../fonts/ACLineRegular/ACLineRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
} */

/* @font-face {
	font-family: "ComfortaaRegular";
	src: url("../fonts/ComfortaaRegular/ComfortaaRegular.eot");
	src: url("../fonts/ComfortaaRegular/ComfortaaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ComfortaaRegular/ComfortaaRegular.woff") format("woff"),
	url("../fonts/ComfortaaRegular/ComfortaaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ComfortaaLight";
	src: url("../fonts/ComfortaaLight/ComfortaaLight.eot");
	src: url("../fonts/ComfortaaLight/ComfortaaLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ComfortaaLight/ComfortaaLight.woff") format("woff"),
	url("../fonts/ComfortaaLight/ComfortaaLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ComfortaaBold";
	src: url("../fonts/ComfortaaBold/ComfortaaBold.eot");
	src: url("../fonts/ComfortaaBold/ComfortaaBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ComfortaaBold/ComfortaaBold.woff") format("woff"),
	url("../fonts/ComfortaaBold/ComfortaaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
} */