/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .ab_img{
        margin: 15px;
        width: 300px;
    }
    .me{
        height: 250px;
    }
    .div_img_me{
        padding-top: 35px;
    }

    .next_button,
    .prev_button{
        top: 30%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .stats h1{
        font-weight: bold;
        font-size: 40px;
    }
    .ab_img{
        margin: 10px;
        width: 270px;
    }
    .div_img_me{
        padding-top: 0;
        margin-left: 28%;
    }
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .main_menu ul {
        display: none;
        position: absolute;
        padding: 0;
        left: -75%;
        background-color: rgb(216, 122, 121);
        z-index: 10;
    }
    
    .main_menu ul li a{
        display: block;
        padding: 10px 15px;
        margin: 0;
    }
    .ab_img{
        margin: 10px;
        width: 210px;
    }
    .stats p{
        font-size: 19px;
        text-transform: uppercase;
    }
    .ipad{
        width: 395px;
        height: 300px;
    }
    .show_video{
        position: relative;
        width: 318px;
        height: 234px;
        top: 8%;
        left: 0%;
    }
    .div_img_me{
        padding-top: 0;
        margin-left: 20%;
    }

    .contacts,.social_net,.iphone{
        margin-left: 35%;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .mid_line h2{
        font-family: "Drina";
        font-size: 40px;
    }
    .mid_line h1{
        text-transform: uppercase;
        /* font-family: "ComfortaaBold"; */
        font-size: 40px;
        font-weight: 700;
    }
    .ab_img{
        margin: 0px;
        width: 140px;
    }
    .stats h1{
        font-weight: bold;
        font-size: 30px;
    }
    .stats p{
        font-size: 13px;
        text-transform: uppercase;
    }
    .ipad{
        width: 75%;
    }
    .info_service img{
        left: 27%;
    }
    .info_service{
        display: block;
        margin: 15px 0px;
    }
    .ipad{
        width: 295px;
        height: 250px;
    }
    .show_video{
        position: relative;
        width: 230px;
        height: 173px;
        top: 8%;
        left: 0%;
    }
    .div_img_me{
        padding-top: 0;
        margin-left: 0;
    }
    .me{
        height: 200px;
    }
    .social_net,.iphone,.contacts{
        margin-left: 13%; 
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .ab_img{
        margin: 0px;
        width: 130px;
    }
    .stats h1{
        font-weight: bold;
        font-size: 20px;
    }
    .stats p{
        font-size: 9px;
        text-transform: uppercase;
    }
    .me{
        height: 200px;
    }
    
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    
    
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .main_menu ul {
        display: inline-block !important;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .info_service h5{
        font-size: 14px;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
    
}