.table {
    th, td {
        background-color: #ffcc80;
        border: 0;
        text-align: center;
        font-size: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90px;
    }
}