@font-face {
    font-family: 'Lemon Tuesday';
    src: url('../fonts/lemontuesday.woff2') format('woff2'),
         url('../fonts/lemontuesday.woff') format('woff'), 
         url('../fonts/lemontuesday.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Drina';
    src: url('../fonts/drina.woff2') format('woff2'),
         url('../fonts/drina.woff') format('woff'), 
         url('../fonts/drina.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
