
nav{
    width: auto;
    background-color: #A64DFF;
    text-align: center;
}

ul{
    display: inline-block;
    font: 24px Economica, sans-serif;
    font-weight: 700;
    list-style-type: none;
    margin: 0; 
    background-color: #A64DFF;
}
li{   
    display: inline-block;
    color: white;
    padding: 10px;
}
li:hover{
    cursor: pointer;
    background-color: #EEEEEE;
    color: #A2ABB6;
}
.float{
    float: right;
    margin-left: 25px;
}
