nav{
    position: relative;
    background-color: #A64DFF;
    text-align: center;
}
ul{
    width: 900px;
    display: inline-block;
    font: 24px Economica, sans-serif;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding-left: 75px;
    background-color: #A64DFF;
}
li{
    display: inline-block;
    color: white;
    padding: 10px;
}
li:hover{
    cursor: pointer;
    background-color: #EEEEEE;
    color: #A2ABB6;
}
