$animation-time: .4s;

@keyframes anim-delete {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}

.field-appear {

}

.field-appear.field-appear-active {

}

.field-enter {

}

.field-enter.field-enter-active {

}

.field-leave {
    opacity: 1;
    visibility: visible;
    transform-origin: 50% 50%;
    transform: translateY(0) scale(1);
}

.field-leave.field-leave-active {
    opacity: 1;
    visibility: visible;
    transform-origin: 50% 50%;
    animation: anim-delete $animation-time ease-in-out forwards;
}