
.sivtsev{
    margin-left: 40%;
    padding: 5px;
    width: 20%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 2px black;
    text-align: justify;
    display: inline-block;
} 
.sivtsev p{
    margin: 0;
    padding: 0;
    letter-spacing: 0.15em;
    color: rgba(0, 0, 0, 0.2)
} 
.sivtsev p::after{
    content: "";
    display: inline-block;
    width: 100%;
}
.uline{
    border-bottom:1px solid gray;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}
.sight01{font-size:4em;}
.sight02{font-size:3em;}
.sight03{font-size:2em;}
.sight04{font-size:1.5em;}
.sight05{font-size:1.3em;}
.sight06{font-size:1.2em;}
.sight07{font-size:1.1em;}
.sight08{font-size:1.0em;}
.sight09{font-size:0.9em;}
.sight10{font-size:0.8em;}
.sight15{font-size:0.7em;}
.sight20{font-size:0.6em;}
