body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.wrapper{
    margin: 0 auto;
    width: 1023px;
    text-align: center;
    position: relative;
}
nav.header {
    position: relative;
    height: 116px;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
.cName{
    display: inline-block;
    float: left;
    line-height: 116px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 0.05em;
    font-size: 20px;
}
div.cName:hover{
    cursor: pointer;
}
.cName h1{
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #EE8129; 
}
#name{
    font-weight: 700;
    text-transform: uppercase;
    color: #3070A8;    
}
ul.menu{
    float: right;
    display: inline-block;
    margin: 60px 0 0 0;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.04em;
    list-style-type: none;
}
ul.menu > li{
    margin: 0;
    padding: 0 0 37px 0;
    display: inline-block;
}
ul.menu >li >a {
    padding: 0 20px 37px 20px;
    text-decoration: none;
    color:  #989898;
}
ul.menu > li:hover{
    cursor: pointer;
    border-bottom: 4px solid #3070A8;
}
ul.menu >li>a:hover{
    color: #3070A8;
}

/* BANNER */

.primary_banner{
    display: inline-block;
    width: 100%;
    background-image: url(images/banner.png);
    background-size: cover;
    height: 582px;
}
div.banner{
    width: 1023px;
    height: 582px;
    margin: 0 auto;
    padding: 0;
    color: white;
    text-align: center;
}
p.text_banner{
    margin: 130px 50px 20px 50px; 
    font-weight: 300;
    font-size: 35px;
}
span.span_text_banner{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 50px;
}
p.second_text_banner{
    line-height: 2em;
    margin: 0px 100px 25px 100px; 
    font-weight: 100;
    font-style: italic;
    font-size: 18px;
}
button:hover{
    cursor: pointer;
}
button.btn_name:hover{
    background-color: rgba(240, 248, 255, 0.938);
}
button.name_btn{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.03;
    font-weight:100;
    color: white;
    background-color: rgba(240, 248, 255, 0.014);
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-radius: 3px;
    padding: 20px 60px;
}


/*SERVICES*/
.services{
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}
.div_serv{
    display: inline-block;
    width: 300px;
    margin: 50px 30px 50px 0px;
}
.div_serv:nth-child(4){
    margin-right: 0px;
}
.h1_services{
    text-transform: uppercase;
    font-weight: 300;
}
.p_services{
    color: rgba(0, 0, 0, 0.418)
}

/*MIDDLE SECTION*/
#middle_section{
    width: auto;
    background-image: url(images/middle.png);
    background-size: cover;
}
#middle{
    width: 1023px;
    height: 620px;
    margin: 0 auto;
}
#h1_middle{
    text-align: left;
    padding: 70px 350px 5px 0;
    color: #EE8129;
    font-weight: 400;
}
#h3_middle{
    text-align: left;
    padding: 0 350px 0 0;
    color: white;
    font-weight: 300;
    font-style: italic;
}
#ul_middle{
    padding: 5px 350px 50px 30px;
}

#ul_middle > li{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 100;
    font-size: 16px;
    padding: 10px 0 10px 0;
    line-height: 2em;
    list-style: none;
    position: relative;
}
#ul_middle > li::before{
    content: '.';
    position: absolute;
    font-size: 120px;
    left: -30px;
    top: -29px;
}
#ul_middle > li:hover{
    color: #3070A8;
}

/*PRICE*/

div.buy{
    margin: 0 auto;
    width: 1023px;
    height: 708px;
    text-align: center;
    position: relative;
}

.offers{
    margin-top: 60px;
    padding: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: #41525C;
}

div.parent{
    position: absolute;
    z-index: 3;
    left: 35%;
    top: 13%;
    width: 300px;
    padding-bottom: 1px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(138, 131, 131);
    background-color: #EE8129;
    
}
#parent_first{
    height: 507px;
}
#parent_second{
    left: 6%;
    top: 14%;
    height: 492px;
    z-index: 2;
    background-color:#11C0D7;
    box-shadow: none;
    padding-bottom: 0px;
    border: 1px solid rgba(17, 192, 215, 0.445);
}
#parent_third{
    height: 492px;
    left: 64%;
    top: 14%;
    z-index: 2;
    background-color:#00C29B;
    box-shadow: none;
    padding-bottom: 0px;
    border: 1px solid rgba(0, 194, 155, 0.493);
}
div.best_value{
    display: inline-block;
    margin: 25px auto;
    color: #FEF8F5;
    font-size: 27px;
}
#ultimate , #standart{
    margin: 20px auto;
}

div.child{
    position: relative;
    font: 24px Roboto;
    background-color: white;
    margin: 3px;
    height: 419px;   
}
#child_third, #child_second{
   margin: 0;
   border-bottom-right-radius: 4px; 
   border-bottom-left-radius: 4px; 
   
}
div.iconic{
    font-size: 23px;
    padding: 20px 0;
    color: #3F4042;
}

div.price{
    position: relative;
    font: 25px Impact;
    font-size: 70px;
    color: #35495A;
}
div.dollar{
    font-family: Roboto;
    position: absolute;
    font-size: 23px;
    left: 30%;
    top: 6px;
}
div.monthly{
    font-family: Roboto;
    position: absolute;
    font-size: 18px; 
    left: 63%;
    top: 65px;
    color: #35495A;
}
ul.lang{
    
    padding: 0 10px 10px 10px;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    list-style-type: none;
    margin: 20px 10px 5px 10px;
    -height: 150px;
}
ul.lang > li{
    border: 1px;
    background-color: #35495A;
    padding: 8px 5px 8px 60px;
    margin: 1px;
    color: #91949C; 
}
ul.lang li:nth-child(odd){
    background-color: #EDF5FD;
}
ul.lang li:nth-child(even){
    background-color: #F5F5F6;
}
ul.lang li::before{
    content: url(icons/check.png);
    position: absolute;
    left: 10%;
}
button.first_btn, button.second_btn, button.third_btn{
    position: relative;
    font-family: Roboto;
    font-size: 17px;
    color: #FFFFFF;
    margin: 15px 10px 25px 10px;
    text-align: center;
    border-radius: 5px;
    width: 270px;
    height: 45px;
}
.first_btn{
    border: 1px solid #EE8129;
    border-bottom: 3px solid rgb(194, 102, 26);
    background-color: #EE8129;
}
.third_btn,.second_btn{
    margin: 10px 15px 10px 15px !important;
    border: 1px solid #415DAA;
    background-color: #415DAA;
    border-bottom: 3px solid rgb(36, 59, 124) 
}
.first_btn:hover,.second_btn:hover,.third_btn:hover{
    border-bottom: none;
}


/*REVIEWS*/

.reviews{
    margin: 0;
    padding: 45px 0 0 0;
    font: 23px Economica;
    font-weight: 700;
    height: 315px;
    width: auto;
    background-image: url(images/fon.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.block_reviews{
    margin: 0 auto;
    width: 1023px;

}
h1{
    text-align: center;
    margin: 0;
    color: #2F6AA0;
}
.what{
    color: #EE8128;
}
.block{
    margin: 0;
    width: auto;
    display: inline-block;
    position: relative;
}
.info_review{
    margin: 70px 0 0 0;
    display: inline-block;
    position: relative;
    width: 511px;
}
img{
    margin-right: 20px;
}
.review{
    color: #666666;
    font-size: 18px;
    font-weight: 100;
    padding: 15px 15px 0px 15px;
    margin: 0 0px 0 0px;
    display: inline-block;
    overflow-y: hidden;
    background-color: white; 
    height: 85px;
    width: 340px;
}
.review::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 90px;
    top: 30px;
    border: 20px solid transparent; /* Прозрачные границы */
    border-right: 25px solid white; /* Добавляем треугольник */
   }
.name{
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    border-bottom: 1px dashed gray;
    margin: 4px;
}
span{
    color:  #3070A8;
}
p.text_reviews{
    margin-top: 7px;
    margin-bottom: 0;
}


/* FOOTER */
.f_wrapper{
    margin: 0 auto;
    width: 1023px;
    height: 421px;
    text-align: center;
    position: relative;
}
#footer{
    width: 1023px;
    position: relative;
    margin: 0 auto;
    display: inline-block;
}
#footer_info{
    float: left;
    display: block;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}
.info{
    text-align: left;
    display: block;
    padding: 0;
    margin: 0;
}
.info:nth-child(1){
    margin-top: 50px;
}
.info_icon{
    display: inline-block;
    margin: 0;
    padding: 0;
}
#first_icon{
    position: relative;
    top: -10px;
}
address{
    font-style: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 15px 0;
    margin: 0 0 0 20px;
    color: rgb(94, 94, 94);
    text-align: left;
}
address:nth-child(2){
    line-height: 2em;
}
.social_networks{
    margin-top: 50px; 
    float: left;
}
div.footer_map{
    width: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
}

/*END*/
#end{
    width: auto;
    margin: 0 auto;
    height: 125px;
    background-color: #3070a8;
}
#cop{
    width: 1023px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
#IG{
    color: #1d1c1c;
    font-weight: bold;
    text-decoration: none;
}
#text_cop{
    padding-top: 40px;
}
.info_soc{
    cursor: pointer;
}