.animBg {
    background-color: #ffcc80;
    position: absolute;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    transform-origin: 0 0;
    animation: animIn 3.3s ease-out forwards;
}

@keyframes animIn {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(3);
    }
}