#wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.container {
    max-width: 1650px;
    padding: 0 15px;
    margin: 0 auto;
}

#header {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.logo {
    font-family: $font-drina;
    font-size: 45px;
}

.instagram {
    font-size: 13px;
    transform: rotate(-90deg) translate(0, 0);
    display: inline-block;
    position: absolute;
    bottom: 25vh;
    left: 25px;
    z-index: 9999;
    animation: anim-instagram 1.5s ease-out forwards;
    @keyframes anim-instagram {
        0% {
            transform: rotate(-90deg) translate(0, -300px);
        }
        55%, 100% {
            transform: rotate(-90deg) translate(0, 0);
        }
    }
    @keyframes anim-instagram-strip {
        0%, 55% {
            width: 0;
        }
        100% {
            width: 150px;
        }
    }
    &::before {
        content: '';
        position: absolute;
        height: 0;
        width: 57%;
        background: $black;
        left: -5px;
        bottom: 0;
        transition: height .3s ease-out;
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 150px;
        background: $black;
        top: 50%;
        left: 150%;
        animation: anim-instagram-strip 1.5s ease-out forwards;
    }
    &:hover {
        &::before {
            height: 100%;
        }
        span {
            color: $white;
        }
    }
}

.custom-accordion {
    @extend %listreset;
    background: red;
    a {
        color: $white;
    }
}


.slick-slide {
    min-height: 100vh;
    background: $white;
    transition: all .3s ease-out;
    position: relative;
    overflow: hidden;
    cursor: grab;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background: $white;
        width: 100vw;
        height: 100vw;
        border-radius: 50%;
        transform: rotate(-55deg);
        transform-origin: 0 0;
        transition: all 2.55s ease-out;
    }
    &.first-slide {
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(237,224,223,1) 50%, rgba(237,224,223,1) 100%);
        &:before {
            z-index: 5;
        }
        &.slick-active {
            &:before {
                transform: rotate(125deg);
            }
        }
    }
    &.second-slide {
        background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(229,234,235,1) 50%, rgba(229,234,235,1) 100%);
        &.slick-active {
            &::before {
                transform: rotate(95deg);
            }
        }
    }
    &.third-slide {
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(237,222,213,1) 50%, rgba(237,222,213,1) 100%);
        &::before {
            transform: rotate(0) translate(50%, 0);
            border-radius: 0;
        }
        &.slick-active {
            &::before {
                transform: rotate(0) translate(-100%, 0);
            }
        }
    }
    &.fourth-slide {
        background: linear-gradient(to bottom, rgba(237,224,223,1) 0%, rgba(237,224,223,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
        &::before {
            border-radius: 0;
            transform: rotate(0);
        }
        &.slick-active {
            &:before {
                transform: rotate(0) translate(0,100%);
            }
        }
    }
}


.first-slide {
    &.slick-active {
        .description {
            &::before {
                width: 150%;
            }
        }
    }
    .content {
        display: flex;
        min-height: 100vh;
    }
    h1 {
        margin: 230px 0 0;
        position: relative;
        display: block;
    }
    .description {
        padding: 15px 0 0;
        max-width: 195px;
        margin: 0 45px 0 0;
        font-size: 14px;
        position: relative;
        align-self: flex-end;
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 0;
            height: 1px;
            background: $black;
            transition: width 4.5s ease-out;
        }
    }
    .col {
        display: flex;
    }
    .col-1 {
        justify-content: space-between;
        align-items: flex-start;
    }
    .col-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-holder {
        max-height: 85vh;
        overflow: hidden;
        position: relative;
        z-index: 6;
    }
}

.col {
    width: 50%;
}