@font-face{
    font-family: Impact;
    src: url(Impact.ttf);
    font-family: Roboto;
    src: url(Roboto.ttf);
}
body{
    margin: 0;
    padding: 0;
    font: 24px Impact;
    font-weight: 100;
}
div.buy{
    left: 15%;
    margin-top: 10px;
    min-width: 400px;
    overflow: auto;
    width: auto;
    position: relative;
}
div.parent{
    left: 295px;
    position: relative;
    z-index: 3;
    display: inline-block;
    width: 300px;
    padding-bottom: 1px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(138, 131, 131);
    background-color: #EE8129;
    
}
#parent_second{
    left: 0%;
    top: 10px;
    position: absolute;
    z-index: 2;
    background-color:#11C0D7;
    box-shadow: none;
    padding-bottom: 0px;
    border: 1px solid rgba(17, 192, 215, 0.445);
}
#parent_third{
    left: 590px;
    top: 10px;
    position: absolute;
    z-index: 2;
    background-color:#00C29B;
    box-shadow: none;
    padding-bottom: 0px;
    border: 1px solid rgba(0, 194, 155, 0.493);
}
div.best_value{
    display: inline-block;
    margin: 25px auto;
    color: #FEF8F5;
    font-size: 27px;
}
#ultimate , #standart{
    margin: 20px auto;
}

div.child{
    position: relative;
    font: 24px Roboto;
    background-color: white;
    margin: 3px;   
}
#child_third, #child_second{
   margin: 0;
   border-bottom-right-radius: 4px; 
   border-bottom-left-radius: 4px; 
   
}
div.iconic{
    font-size: 23px;
    padding: 20px 0;
    color: #3F4042;
}

div.price{
    position: relative;
    font: 25px Impact;
    font-size: 70px;
    color: #35495A;
}
div.dollar{
    font-family: Roboto;
    position: absolute;
    font-size: 23px;
    left: 30%;
    top: 6px;
}
div.monthly{
    font-family: Roboto;
    position: absolute;
    font-size: 18px; 
    left: 63%;
    top: 65px;
    color: #35495A;
}
ul.lang{
    position: relative;
    padding: 0 10px 10px 10px;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    list-style-type: none;
    margin: 20px 10px 5px 10px;
}
li{
    border: 1px;
    background-color: #35495A;
    padding: 8px 5px 8px 60px;
    margin: 1px;
    color: #91949C;  
}
li:nth-child(odd){
    background-color: #EDF5FD;
}
li:nth-child(even){
    background-color: #F5F5F6;
}
li::before{
    content: url(check.png);
    position: absolute;
    left: 10%;
}
button{
    position: relative;
    font-family: Roboto;
    font-size: 17px;
    color: #FFFFFF;
    margin: 15px 10px 25px 10px;
    text-align: center;
    border-radius: 5px;
    width: 270px;
    height: 45px;
}
.first_btn{
    border: 1px solid #EE8129;
    border-bottom: outset rgba(179, 87, 11, 0.479);
    background-color: #EE8129;
}
.third_btn,.second_btn{
    margin: 15px 15px 15px 15px;
    border: 1px solid #415DAA;
    background-color: #415DAA;
    border-bottom: outset rgba(38, 55, 109, 0.404);
}
button:hover{
    cursor: pointer;
    border-bottom: none;
}