.FinishedQuiz {
    padding: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        i {
            margin: 0 0 0 10px;
        }
    }
}

.error {
    color: rgb(201, 30, 30);
}

.success {
    color: rgb(21, 131, 21);
}