@font-face{
    font-family: "Oleo Spript","Oxygen Mono", Arial, Helvetica, sans-serif;
    src: url(fonts/OleoScript-Bold.ttf); 
    src: url(fonts/OleoScript-Regular.ttf);
    src: url(fonts/OxygenMono-Regular.otf);
}
body{
    margin: 0;
    padding: 0;
    background-image: url(images/background.png);
}
div{
    margin: 0;
    padding: 0;    
}
a{
    text-decoration: none;
}
p{
    color: #666666;
}
p::selection, h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection, span::selection, a::selection{
    background-color: #FFE7B9;
    color: #D0982E;
}
p::-moz-selection, h1::-moz-selection,h2::-moz-selection,h3::-moz-selection,h4::-moz-selection,h5::-moz-selection,h6::-moz-selection, span::-moz-selection, a::-moz-selection{
    background-color: #FFE7B9;
    color: #D0982E;
}


.wrapper{
    box-shadow: 0 0 1px #EAEAEA;
    -webkit-box-shadow: 0 0 1px #EAEAEA;
    -moz-box-shadow: 0 0 1px #EAEAEA;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 13px 20px;
    width: 972px;
    background-color: white; 
    position: relative;
    border-bottom: 1px solid #ececec;
    border-radius: 3px;
}


/** HEADER **/

.header{
    display: inline-block;
    width: 972px;
    position: relative;
    z-index: 500;
}
nav{
    display: inline-block;
    width: 972px;
}
#logo{
    margin: 0;
    padding: 0;
    font-family: "Oleo Script";
    font-size: 40px;
}
#logo > a {
    color: black;
}
#div_logo{
    display: inline-block;
    margin: 30px 0px 9px 5px;
    padding: 0;
}
#underlogo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #999999;
    margin-left: 5px;
}
.menu{
    font-family: "Oxygen Mono";
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    display: inline-block;
    list-style-type: none;
    float: right;
    margin-top: 48px;
    padding: 0;
    
}
.menu > li{
    display: inline-block;
    padding: 0;
    position: relative;
}
.menu > li:last-child{
    padding-right: 0;
}
.menu > li > a{
    padding: 15px 15px;
    margin: 0 10px; 
    color: #666666;
}
.menu > li > a:hover{
    color: black;
}
.submenu::before{
    content: '';
    position: absolute;
    top: -7px;
    left: 35px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 1px 1px 1px rgba(134, 133, 133, 0.589);
    -webkit-box-shadow: 1px 1px 1px rgba(134, 133, 133, 0.589);
    -moz-box-shadow: 1px 1px 1px rgba(134, 133, 133, 0.589);
}
.submenu{
    display: none;
    border: 1px solid #DDDDDD;
    background-color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 13px;
    padding: 0;
    list-style-type: none;
    position: absolute;
}
.submenu > li{
    margin: 10px 15px;
    padding-bottom: 6px;
    border-bottom: 1px solid #E4E4E4;
}
.submenu > li:last-child{
    border-bottom: 0px;
}
.submenu > li > div {
    margin: 0px -5px;
    padding: 5px; 
    width: 172px;
    border-radius: 3px; 
    -moz-border-radius: 3px;
}
.submenu > li > div:hover{
    cursor: pointer;
    background-color: #F3F3F3;
}
.submenu > li > div > a > p{
    font-size: 10px;
    margin: 0;
    padding-top: 5px;
}
.submenu > li > div > a{
   color: #666666
}
button{
    background: linear-gradient(to top, #FFC351, #FFB841);;
    padding: 8px 6px;
    border: 1px solid #EFB647;
    border-radius: 2px;
    -moz-border-radius: 2px;
    color: white;
    position: relative;
}

button:hover{
    cursor: pointer;
}
ul.menu li:hover ul.submenu{
    display: block;
}

/*Contact*/
.contact{
    margin-top: 30px;
    background-image: url(images/contact_shaddow.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #DFDFDF;
    background-position: 0 20px;
    border-top: 1px solid #E5E5E5;
}
.contact > h1{
    text-transform: uppercase;
    font-weight: lighter;
    font-family: "Oxygen Mono";
    font-size: 20px;
    color: #bbbbbb;
}


/*Section Form*/
.section_form{
    width: 100%;
    display: inline-block;
}
.form > h1{
    font-family: "Oxygen Mono";
    font-size: 18px;
    color: #222222;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}
.form > h1::after{
    content: '';
    position: absolute;
    left: 64px;
    bottom: -4px;
    border: 4px solid white;
    border-top: 4px solid white;
    box-shadow: 1px 1px 1px rgb(207, 203, 203);
    transform: rotate(45deg);
}
.form{
    display: inline-block;
    border-right: 1px solid #E5E5E5;
}
.input{
    display: inline-block;
    margin: 10px 0px 5px -10px;
    padding-left: 5px;
    border-radius: 2px;
    border: 1px solid #E8E8E8;
    height: 25px;
    width: 160px;
    position: relative;
}
.input2{
    margin-right: 0; 
}
.input:focus{
    outline: 1px solid #CAE28B;
    
}
.input:focus ~ .check{
    display: inline-block;
}
.check{
    display: none;
    position: relative;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 5px;
    border-radius: 100%;
    background-color: #C4DD83;
    background-image: url(icons/check.png);
    background-repeat: no-repeat;
    background-position: 1px 2px;
}
.input2:focus{
    outline: 1px solid #ECB0B0;
}
.input2:focus ~ p#error{
    display: inline-block;
}
.input2:focus ~ .check{
    display: none;
}
textarea{
    border: 1px solid #E8E8E8;
    display: inline-block;
    margin: 15px 0px 0px -10px;
    resize: none;
    display: inline-block;
}
textarea:focus{
    outline: 1px solid #CAE28B;
}
textarea:focus ~ .check{
    display: inline-block;
    top: -185px;
    left: 5px;
}
.form_div{
    width: 640px;
    overflow: visible;
    height: 50px;
}
.form_div4{
    height: 225px;
    position: relative;
}
form > div > span{
    width: 90px;
    vertical-align: top;
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: inline-block;
    margin: 8px 23px;
    padding-top: 10px;
}
#error{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #ac4040;
    margin-left: 15px; 
    padding: 8px 10px;
    border-radius: 2px;
    position: relative;
    top: -1px;
    background-color: #ECB0B0;
}
#error::before{
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-right: 5px solid #ECB0B0;
    left: -10px;
    top: 9px;
}
input[type="submit"]{
    margin: 15px 20px 20px 130px;
    padding: 11px 17px;
    background:linear-gradient(to bottom,#FFC351,#FFB841);
    border-radius: 2px;
    border: 1px solid #EFAC3D;
    color: white;
}
.info{
    vertical-align: top;
    display: inline-block;
    margin: 15px;
    width: 260px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    padding: 10px;
}
.info > h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    color: #666666;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 5px;
}
.info > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #444444;
}

#hr{
    margin: 0 auto;
    width: 972px;
    height: 5px;
    border-bottom: 1px solid #E0E0E0;
}

/*FOOTER*/
.wrapper2{
    margin-top: 25px;
}
.footer{
    display: inline-block;
    margin: 34px 0 0 0;
    width: 100%;
}
.footer_content{
    vertical-align: top;
    display: inline-block;
    width: 185px;
    height: 210px;
    margin: 20px 60px 25px 0;
}
.footer_content > h3{
    color: #ffad19;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.footer_content > ul{
    text-transform: capitalize;
    list-style-type: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer_content > ul > li{
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 15px 8px 0;
}
.footer_content > ul > li:last-child{
    border-bottom: none;
}
.footer_content > ul > li > a{
    color: #666666;
} 
.footer_content3{
    margin: 20px 0 0 0;
    width: 466px;
}
.footer_content3 > ul > li{
    padding-right: 15px;
    position: relative;
}
.footer_content3 > ul > li::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    background-image: url(icons/icons.png);
    background-repeat: no-repeat;
    background-position: -185px -16px;
    left: -35px;
}
.footer_content3 > ul > li > a > p{
    color: #AAAAAA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
}
.list{
    width: 100%;
    height: 20px;
    z-index: -1;
    position: absolute;
    background-color: white; 
    border-bottom: 1px solid #ececec;
}
.list1{
    left: 0;
    bottom: -9px;
}
.list2{
    left: 0;
    bottom: -5px;
}
.list3{
    z-index: -3;
    width: 100%;
    height: 90px;
    bottom: -38px;
    left: 5px;
    border: none;
    background-color: transparent;
    background-size: 1000px;
    background-image: url(images/shaddow.png);
    background-repeat: no-repeat;
}
