@font-face{
    font-family: "Oleo Spript","Oxygen Mono", Arial, Helvetica, sans-serif;
    src: url(fonts/OleoScript-Bold.ttf); 
    src: url(fonts/OleoScript-Regular.ttf);
    src: url(fonts/OxygenMono-Regular.otf);
}
body{
    margin: 0;
    padding: 0;
    background-image: url(images/background.png);
    
}
div{
    margin: 0;
    padding: 0;    
}
a{
    text-decoration: none;
}
p{
    color: #666666;
}
p::selection, h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection, span::selection, a::selection{
    background-color: #FFE7B9;
    color: #D0982E;
}
p::-moz-selection, h1::-moz-selection,h2::-moz-selection,h3::-moz-selection,h4::-moz-selection,h5::-moz-selection,h6::-moz-selection, span::-moz-selection, a::-moz-selection{
    background-color: #FFE7B9;
    color: #D0982E;
}

.wrapper{
    box-shadow: 0 0 1px #EAEAEA;
    -webkit-box-shadow: 0 0 1px #EAEAEA;
    -moz-box-shadow: 0 0 1px #EAEAEA;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 84px;
    padding: 13px 20px;
    width: 972px;
    background-color: white; 
    position: relative;
    border-bottom: 1px solid #ececec;
}



/** HEADER **/

.header{
    display: inline-block;
    width: 972px;
    position: relative;
    z-index: 500;
}
nav{
    display: inline-block;
    width: 972px;
}
#logo{
    margin: 0;
    padding: 0;
    font-family: "Oleo Script";
    font-size: 40px;
}
#logo > a {
    color: black;
}
#div_logo{
    display: inline-block;
    margin: 30px 0px 9px 5px;
    padding: 0;
}
#underlogo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #999999;
    margin-left: 5px;
}
.menu{
    font-family: "Oxygen Mono";
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    display: inline-block;
    list-style-type: none;
    float: right;
    margin-top: 48px;
    padding: 0;
    
}
.menu > li{
    display: inline-block;
    padding: 0;
    position: relative;
}
.menu > li:last-child{
    padding-right: 0;
}
.menu > li > a{
    padding: 15px 15px;
    margin: 0 10px; 
    color: #666666;
}
.menu > li > a:hover{
    color: black;
}
.submenu::before{
    content: '';
    position: absolute;
    top: -7px;
    left: 35px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 1px 1px 1px rgba(134, 133, 133, 0.589);
    -webkit-box-shadow: 1px 1px 1px rgba(134, 133, 133, 0.589);
    -moz-box-shadow: 1px 1px 1px rgba(134, 133, 133, 0.589);
}
.submenu{
    display: none;
    border: 1px solid #DDDDDD;
    background-color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 13px;
    padding: 0;
    list-style-type: none;
    position: absolute;
}
.submenu > li{
    margin: 10px 15px;
    padding-bottom: 6px;
    border-bottom: 1px solid #E4E4E4;
}
.submenu > li:last-child{
    border-bottom: 0px;
}
.submenu > li > div {
    margin: 0px -5px;
    padding: 5px; 
    width: 172px;
    border-radius: 3px; 
    -moz-border-radius: 3px;
}
.submenu > li > div:hover{
    cursor: pointer;
    background-color: #F3F3F3;
}
.submenu > li > div > a > p{
    font-size: 10px;
    margin: 0;
    padding-top: 5px;
}
.submenu > li > div > a{
   color: #666666
}
button{
    background: linear-gradient(to top, #FFC351, #FFB841);;
    padding: 8px 6px;
    border: 1px solid #EFB647;
    border-radius: 2px;
    -moz-border-radius: 2px;
    color: white;
    position: relative;
}

button:hover{
    cursor: pointer;
}
ul.menu li:hover ul.submenu{
    display: block;
}


/** HERO **/
.hero{
    display: inline-block;
    width: 972px;
    height: 300px;
    margin-top: 50px;
    position: relative;
    border-bottom: 1px solid #E5E5E5;   
}
.slider{
    display: inline-block;
    margin: 30px 0 0 50px;
    width: 302px;
    height: 197px;
    position: relative;
    background-color: #F3F3F3;
    z-index: 2;
}
.slider1{
    box-shadow: inset 0 0 4px rgb(151, 148, 148);
    -webkit-box-shadow: inset 0 0 4px rgb(151, 148, 148);
    -moz-box-shadow: inset 0 0 4px rgb(151, 148, 148);
    text-align: center;
    margin: 0 auto;
    padding-top: 6px;
    z-index: 500;
    position: relative;
}
.slider1:hover div.ads{
    cursor: pointer;
    display: inline-block;
}
#shaddow{
    width: 280px;
    height: 180px;
    left: 62px;
    top: 44px;
    background-color: red;
    position: absolute;
    z-index: 0;
    box-shadow: 0 5px 10px;
    -webkit-box-shadow: 0 5px 10px;
    -moz-box-shadow: 0 5px 10px;
}
.about_film{
    padding: 0;
    margin: 5px 30px 5px 20px;
    width: 550px;
    display: inline-block;
    font-family: "Oxygen Mono";
    font-weight: normal;
    position: relative;
    top: -100px;
    z-index: 1;
    border-bottom: 1px solid #F6F6F6;
}
.film_name{
    font-family: "Oxygen Mono";
    font-weight: normal;
    margin: 10px 10px 5px 10px;
    text-align: center;
    font-size: 38px;
    color: #515151;
    text-align: right;
}
.description_film{
    font-family: "Oxygen Mono";
    font-weight: normal;
    padding-left: 5px; 
    padding-right: 5px; 
    padding-bottom: 15px;
    margin: 0;
    text-align: right;
    font-size: 14px;
    line-height: 1.5em;
}
.slider_button{
    position: absolute;
    width: 40px;
    height: 50px;
    background-image: url(icons/icons.png);
    background-repeat: no-repeat;
    margin: -6px 0 0 0;
    left: -38px;
    top: 4px;
}
.slider_button2{
    left: 215px;
    background-position: -50px 0;
}
.ads{
    display: none;
    position: absolute;
    border-radius: 2px;
    -moz-border-radius: 2px;
    left: 41px;
    top: 142px;
    width: 214px;
    height: 49px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
}
.ads_text{
    z-index: 1000;
    position: relative;
    font-size: 13px;
    padding: 5px 5px;
    margin: 0;
    color: white;
}
.ads_text2{
    z-index: 1000;
    position: relative;
    font-size: 11px;
    margin-top: -7px;
    color: #D4A03F;
}
.ads_text3{
    z-index: 1000;
    position: relative;
    color: #676767;
}

.trailer_btn{
    width: 168px;
    height: 42px;
    display: inline-block;
    margin: 5px 30px 5px 770px;
    background: linear-gradient(to top, #FFC351, #FFB841);
    border: 1px solid #EFB74C;
    border-radius: 2px;
    -moz-border-radius: 2px;
    position: relative;
    top: -100px;
    right: 0px;
}
.trailer_btn1{
    border-right: 1px solid #FFB239;
    display: inline-block;
    padding: 3px;
    margin-top: 3px; 
}
.trailer_btn1 > a {
    width: 168px;
    height: 42px;
    position: absolute;
    z-index: 3;
}
.trailer_btn1 > span{
    padding-left: 2px;
    padding-right: 12px;
    color: white;
    font-family: "Oxygen Mono";
    font-size: 14px;
}
.trailer_btn1 > p {
    text-transform: uppercase;
    padding-left: 2px;
    padding-right: 2px;
    color: #D28600;
    font-size: 10px;
    margin: 0;
}
.arrow_btn{
    width: 35px;
    height: 36px;
    display: inline-block;
    background-image: url(icons/icons.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 2px;
    top: 13px;
    margin: -10px 0 0 0;
    background-position: -87px -9px;
    border-left: 1px solid #FFC65C;
}
.trailer_btn1 > p.or{
    display: none;
    color: #afceb4;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    width: 280px;
    text-align: right;
    top: 40px;
    right: 25px;
    padding: 15px;
}
.trailer_btn1 > p.or > a{
    text-decoration: underline;
    color: #afceb4;
}
.trailer_btn1:hover p.or{
    display: inline-block;
} 

/** MIDDLE **/
.middle > h1{
    font-family: "Oxygen Mono";
    font-size: 18px;
    color: #222222;
    margin: 30px 0 20px 0;
}
.middle{
    display: inline-block;
    width: 972px;
}
.mid_blocks{
    display: inline-block;
    padding: 5px 0 5px 0;
}
.image_block{
    overflow: hidden;
    display: inline-block;
    margin: 0 30px 5px 0px;
    width: 300px;
    height: 344px;
}
.image_block:last-child{
    margin-right: 0;
}
.content_image{
    height: 148px;
    position: relative;
}
.content_image1{
    background-color: #FFFFFF;
    border: 1px solid#F1F1F1;
}
.content_image2{
    background-color: #FFFFFF;
    border: 1px solid#F1F1F1;
}
.content_image3{
    background-color: #FFFFFF;
    border: 1px solid#F1F1F1;
    border-bottom: 0px;
}
.image{
    display: inline-block;
    margin: 2px;
    width: 295px;
}
.circle_button{
    display: none;
    position: absolute;
    border-radius: 100%;
}
.circle_button1{
    left: 85px;
    top: 40%;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.3);
}
.circle_button2{
    left: 190px;
    top: 40%;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.3);
}
.circle_button3{
    left: 124px;
    top: 30%;
    width: 62px;
    height: 62px;
    background-color: rgba(0, 0, 0, 0.3);
}
.circle_button_in{
    display: inline-block;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    position: relative;
    margin: 5px;
    background:linear-gradient(to bottom,#FEFEFE,#DADADA);
}
.circle_button_in3{
    display: inline-block;
    border-radius: 100%;
    width: 46px;
    height: 46px;
    position: relative;
    margin: 8px;
    background:linear-gradient(to bottom,#FEFEFE,#DADADA);
}
.circle_button_in1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(icons/icons.png);
    background-repeat: no-repeat;
    margin: -5px 0 0 0;
    background-position: -113.5px -8px;
}
.circle_button_in2::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(icons/icons.png);
    background-repeat: no-repeat;
    margin: -5px 0 0 0;
    background-position: -133px -9px;
}
.circle_button_in3::after{
    position: absolute;
    content: '';
    width: 26px;
    height: 40px;
    left: 10px;
    background-image: url(icons/icons.png);
    background-repeat: no-repeat;
    margin: -5px 0 0 0;
    background-position: -158px 1px;
}
.content_image:hover a{ /* Показываем кнопочки */
    display: inline-block;
    cursor: pointer;
}
.content_block{
    display: block;
    margin: 0;
    height: 54px;
}
.content_block1{
    background-image: url(images/block1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -75px;
}
.content_block2{
    background-image: url(images/block2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -70px;
}
.content_block3{
    background-image: url(images/block3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
}
.content_description1{
    display: block;
    margin: 0;
    padding: 7px 5px 0px 5px;
    font-size: 14px;
}
.content_description2{
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    font-size: 11px;
}
div.middle_text{
    display: inline-block;
    margin: 10px 0 10px 0;
    font-size: 12px;
    height: 100px; 
    text-align: justify;    
    padding-left: 10px;
    padding-right: 10px;
}
div.middle_text > p{
    margin: 0;
}


/* TABS  */
.tabs_section{
    display: inline-block;
    width: 100%;
}
.tabs_section > h1 {
    font-family: "Oxygen Mono";
    font-size: 18px;
    color: #222222;
    margin: 30px 0 20px 0;
}
.tabs_section > h1 > span{
    color: #D0982E;
    background-color: #FFE7B9;
}
.tabs{
    width: 972px;
    border: 1px solid #ECECEC;
    display: inline-block;
    border-radius: 2px;
}
.tabs_header{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #FDFDFD,#F8F8F8);
    border-bottom: 1px solid #ececec;
    font-size: 14px;
}
.tabs_item{
    display: inline-block;
    border-right: 1px solid #ececec;
    padding: 15px;
}
.tabs_item > a{
    color: #666666;
}
.tabs_item_selected{
    background-color: white;
    box-shadow: 0px 3px 1px white;
}
.tabs_content{
    padding: 10px 5px 5px 15px;
    display: none;
}
.tabs_content_selected{
    display: inline-block;
}
.tabs_content_selected > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}
.tabs_content_selected > p >span{
    color: #D0982E;
    background-color: #FFE7B9;
}
.content_for_tab1{
    display: inline-block;
    border-top: 1px solid #ececec;
    padding: 5px;
}
.content_for_tab1 > ul {
    list-style-type: none; 
    display: inline-block;
    
}
.content_for_tab1 > ul >li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 5px;
    position: relative;
}
.content_for_tab1 > ul >li:before{
    content: '';
    position: absolute;
    background-image: url(icons/arrow.png);
    width: 15px;
    height: 15px;
    left: -15px;
    top: 3px;
    opacity: 0.5;
}
.places_content_for_tab1{
    margin: 15px 5px 15px 150px;
    vertical-align: top;
    display: inline-block;
    width: 300px;
    height: 105px;
}
.places_content_for_tab1:last-child{
    margin-right: 0;
    margin-left: 0;
}
.tabs_image{
    vertical-align: top;
    display: inline-block;
    padding: 0;
    width: 122px;
    height: 99px;
    border: 1px solid #F1F1F1; 
}
.tabs_image > img{
    display: inline-block;
    margin: 3px;
    vertical-align: top;
}
.places_description{
    width: 160px;
    height: 101px;
    display: inline-block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.places_description > h6{
    margin: 2px 0 0 0;;
    font-weight: bold;
    color: #333333;
    font-size: 12px;
}
.places_description >p{
    margin: 10px 0 0 0;
    word-spacing: 0.5em;
    font-size: 12px;
    color: #999999;
}
#text_places{
    word-spacing: normal;
}


/* FOOTER */
.footer{
    display: inline-block;
    margin: 34px 0 0 0;
    border-top: 1px solid #E5E5E5;
    width: 100%;
}
.footer_content{
    vertical-align: top;
    display: inline-block;
    width: 185px;
    height: 210px;
    margin: 20px 60px 25px 0;
}
.footer_content > h3{
    color: #ffad19;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.footer_content > ul{
    text-transform: capitalize;
    list-style-type: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer_content > ul > li{
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 15px 8px 0;
}
.footer_content > ul > li:last-child{
    border-bottom: none;
}
.footer_content > ul > li > a{
    color: #666666;
} 
.footer_content3{
    margin: 20px 0 0 0;
    width: 466px;
}
.footer_content3 > ul > li{
    padding-right: 15px;
    position: relative;
}
.footer_content3 > ul > li::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    background-image: url(icons/icons.png);
    background-repeat: no-repeat;
    background-position: -185px -16px;
    left: -35px;
}
.footer_content3 > ul > li > a > p{
    color: #AAAAAA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
}
.list{
    width: 100%;
    height: 20px;
    z-index: -1;
    position: absolute;
    background-color: white; 
    border-bottom: 1px solid #ececec;
}
.list1{
    left: 0;
    bottom: -9px;
}
.list2{
    left: 0;
    bottom: -5px;
}
.list3{
    z-index: -3;
    width: 100%;
    height: 90px;
    bottom: -38px;
    left: 5px;
    border: none;
    background-color: transparent;
    background-size: 1000px;
    background-image: url(images/shaddow.png);
    background-repeat: no-repeat;
}
