body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.wrapper{
	margin: 0 auto;
	width: auto;
	max-width: 1250px;
	padding: 25px;
}
li{
	list-style-type: none;
}
ul{
	padding: 0;
}
.sections1{
	background-color: #F6F2F2;
	width: 100%;
}
a{
	text-decoration: none;
}

nav{
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	width: 100%;
	height: 90px;
	background-color: #313030;
}
ul{
	margin: 0;
}
nav>ul>li{
	display: inline-block;
}
nav>ul>li>a{
	color: #E0E0E0;
	display: inline-block;
	padding: 37px 22px;
}
nav>ul>li>a:hover{
	background-color: #FF3F40;
}

.firstBlock{
	padding: 25px;
	width: 50%;
	float: left;
}
.secondBlock{
	padding: 25px;
	width: 40%;
	float: left;
}
.firstBlock>h1{
	width: 90%;
	margin-top: 58px; 
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 50px;
}
#organ{
	letter-spacing: 0.2em;
}
.firstBlock>p{
	color: #8C8989;	
	width: 80%;
	line-height: 1.5em;
}
#video{
	margin: 78px auto;
	position: relative;
	width: 525px;
	height: 330px;
	background-color: #C4C0B1;
	box-shadow: 0px 0px 40px rgb(165, 165, 165);
}
#video:hover{
	cursor: pointer;
}
#play{
	position: absolute;
	top: 40%;
	left: 45%;
}
.btn{	
	text-align: center;
	display: inline-block;
	border-radius: 3px;
}
.btn1{
	width: 227px;
	height: 55px;
	margin-top: 40px;
	line-height: 55px;
	color: white;
	background-color: #FF2D2D;
}
.clear{
	clear: both;
}

/* Skills */
.firstBlock2 > h1 {
	margin-top:75px; 
	margin-bottom: 50px; 
	color: #585858;
	font-weight: 600;
	font-size: 50px;
}
.firstBlock2 > p{
	color: black;
	line-height: 1.5em;
}
.btn2{
	width: 227px;
	height: 55px;
	margin-top: 40px;
	line-height: 55px;
	font-weight: bold;
	border: 2px solid #FF2D2D;
	color: #FF2D2D;
}
table{
	margin-top: 80px;
	table-layout: fixed;
	color: #585858;
}
table td{
	width: 250px;
	height: 255px;
	max-height: 255px;
	padding: 5px;
}
.skill_name{
	font-weight: bold;
	font-size: 24px;
	margin: 7px 5px;
}
.about_skills{
	width: 250px;
	height: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.5em;
	
}
.skill_description{
	margin: 0;
	color: #A4A4A4;
}
.hr_line_big{
	position: relative;
	margin: 60px 0;
	width: 100%;
	height: 3px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.452);
	clear: both;
}


/* Products */
.sections3{
	padding: 25px 0;
}
.about_products{
	text-align: center;
}
.information_h1{
	color: #585858;
	font-size: 42px;
	text-transform: uppercase;
}
.description_p{
	color: #878787;
	line-height: 1.5em;
}
.description_p1{
	margin: auto;
	width: 50%;
}
.hr_line{
	width: 128px;
	height: 2px;
	background-color: #FF2D2D; 
}
.hr_line1{
	margin: 30px auto;
	top: 30px;
}

.about_products>ul>li>a{
	color: #7D7D7D;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	margin: 30px 35px;
}
.about_products>ul>li>a:hover{
	color: #FF2D2D;
}
.product_images{
	margin: auto;
	display: inline-block;
}
.prd_img{
	display: inline-block;
	margin: 5px;
	width: 299px;
	height: 290px;
	background-color: #F5F0DD;
}
.prd_img:hover{
	cursor: pointer;
}


/* Our team */
.information_h1_1{
	font-size: 30px;
}
.description_p2{
	width: 40%;	
}
.hr_line2{
	margin: 30px 0;
}
.more_about_team{
	padding: 10px 0 0 25px;
	display: inline-block;
}
#person_photo{
	display: inline-block;
	width: 25%;
}
.avatar{
	width: 320px;
	height: 460px;
	background-color: #F5F0DD;
}
.about_person{
	width: 65%;
	vertical-align: top;
	margin: 0 0 0 75px;
	display: inline-block;
}
.description_p3{
	width: 75%;
	margin-bottom: 45px;
}
.soc_networks_team>li>a{
	color: #919191;
	font-weight: bold;
	font-style: italic;
	margin: 0 15px;
	position: relative;
	left: -15px; 
}
.more_team_avatars{
	display: inline-block;
	margin-top: 28px; 
}
.avatars{
	display: inline-block;
	width: 195px;
	position: relative;
	height: 214px;
	background-color: #F5F0DD;
}
.names_of_team{
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	line-height: 30px;
}
.names{
	color: white;
	text-transform: uppercase;
}
.avatars:hover .names_of_team{
	display: block;
}


/* Subscribe */
.sections5{
	background-color: #2C2C2C;
}
.subscribe{
	text-align: center;
	padding: 100px 50px;
}
.subscribe > h1{
	color: #E0E0E0;
	font-size: 42px;
	margin: 5px 0; 
}
.subscribe > p {
	color: #E0E0E0;
}
[type*="email"]{
	font-size: 18px;
	width: 520px;
	height: 80px;
	border: 0px;
	border-radius: 3px;
}
[placeholder*="E-mail"]{
	padding-left: 40px;
}
.submit_btn{
	background-color: #FF2D2D;
	border: 0px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 3px;
}
.submit_btn1{
	width: 214px;
	height: 82px;
}


/* Contacts */
.description_p4{
	width: 60%;
}
.contact_form{
	margin: 0 auto;
	display: inline-block;
}
.form_block{
	display: inline-block;
}
form{
	display: inline-block;
}

[type*="text"]{
	margin: 50px 50px 50px 0px;
	width: 250px;
	font-size: 17px;
	height: 70px;
	background-color: #E5E5E5;
	border: 0px;
	border-radius: 8px;
	padding: 0px 50px 0 50px; 
}
textarea{
	padding: 30px 50px; 
	width: 657px;
	resize: none;
	height: 250px;
	font-size: 17px;
	background-color: #E5E5E5;
	border: 0px;
	border-radius: 8px;
}
.submit_btn2{
	margin: 45px 0;
	width: 757px;
	height: 70px;
}
.info_form_block{
	vertical-align: top;
	position: absolute;
	top: 31%;
	right: 0;
	height: 353px;
	width: 31%;
	text-align: left;
	padding: 150px 0 50px 50px;
	display: inline-block;
	color: white;
	background-color:#2D2D2D; 
}
.info_form_block > h4 {
	text-transform: uppercase;
}
address{
	font-size: 14px;
	margin: 35px 0 0 0;
	font-style: normal;
}
.wrapper6{
	padding-right:0px; 
}
.sections6{
	position: relative;
}


/* Copyright */
.sections7{
	color: #b8b8b8;
	background-color: #2D2D2D;
}
.wrapper7{
	width: 100%;
	display: block;
}
.wrapper7>p{
	display: inline-block;
}
.soc_icons{
	float: right;
}
.soc_icons>li{
	display: inline-block;

}